    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
        margin-bottom: 0;
        border-radius: 0;
    }

    @media only screen and (min-width: 950px){
        .window{
            padding-left: 10%;
            padding-right:10%;
        }
    }

    .container-fluid{
        background-color: grey;      
    }

    h1{
        text-align:center;
        }

    /* Add a gray background color and some padding to the footer */
    footer {
        background-color: #f2f2f2;
        padding: 25px;
        text: bottom;

    }
