.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

@media only screen and (min-width: 950px){
    .window{
        padding-left: 10%;
        padding-right:10%;
    }
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

.container-fluid{
    background-color: grey;      
}

h1{
    text-align:center;
    }

footer {
    background-color: #f2f2f2;
    padding: 25px;
    align-items: center;
}

.vertical-flex{
    display: flex;
    justify-content: center;  
    flex-direction: column;

}

.horizontal-flex{
    display: flex;
    align-items: center;
    justify-content: center
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.link{
    padding : 15px;
}

.link img{
    width : 30px;
}

.link img:hover{
    /* background-color: #000; */
    animation:fade-in 0.5s;
    /* background: white; */
    box-shadow: 10 10 50px #000000;

}

@keyframes fade-in
{
    from
    {
        /* opacity: 0; */
        width: 45px;
    }
    to
    {
        /* opacity: 1; */
        width: 50px;
    }
}

p{
    padding: 4rem;
}

.box{
    text-align: center;
    border-style: solid;
    border-width: 0.5rem;
    border-color: #000000;
    box-shadow: 1rem;
    margin: 1rem;
}

a{
    text-decoration: none;
}